.gradle/
**/.gradle/
build/
**/build/
app/build/
**/app/build/
local.properties
**/local.properties
*.iml
.idea/
**/.idea/
.tmp/
**/.tmp/
android-sdk/
**/android-sdk/
*.apk
*.aab
*.jks
*.keystore
*.log
captures/
screenshots/
**/captures/
**/screenshots/
